<%- include('./includes/header.ejs') %> 

</head>
<body>
    <nav>
        <a href="/" class="a-nav">Strona główna</a> &nbsp; &nbsp;
        <a href="/about" class="a-nav a-active">O nas</a> &nbsp; &nbsp;
    </nav>

    <h1><%= pageTitle %> </h1>
    <h2>Misja firmy</h2>
    <p>Chcemy dostarczać usłgi najwyższej jakości</p>

    <h2>Nasze usługi</h2>
    <ol>
        <li>Obsługa systemów sieciowych</li>
        <li>Projektowanie sieci komputerowych</li>
        <li>Projektowanie i utrzymywanie witryn internetowych</li>
    </ol>
    
    


<%- include('./includes/footer.ejs')  %>
