<%- include("./includes/header.ejs")  %>

</head>
<body>
    <h1>PROFIL</h1>
    <form action="/logout" method="post">
        <input type="submit" value="Wyloguj">
    </form>


<%- include("./includes/footer.ejs") %>
