<%- include('./includes/header.ejs') %> 
<%- include('./includes/navigation.ejs') %> 
    

    <main>
        <h1>Kontakt</h1>
        <h2></h2>
        <p>Email: support@mu.pl</p>
        <p>Infolinia: +48 000 111 222</p>
    </main>

<%- include('./includes/footer.ejs') %> 
    