<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lokacje</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('./includes/navigation.ejs')  %>

    <h1>Oddziały</h1>

    <% if (location.length === 0) { %>
        <h2>Brak otwartych oddziałów</h2>
    <% }else{%>
        <table>
            <tr>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Kod Pocztowy</th>
            </tr>
            <% locations.forEach(item => { %>
            <tr>
                <td><%=  item.name%></td> 
                <td><%=  item.street%></td> 
                <td><%=  item.zipCode%></td> 
            </tr>
            <% }) %>
        </table>
    <% } %> 
    

</body>
</html>