<div class="addForm">
    <form method="post" action="/">
        <h3>Dodaj nową piosenkę</h3>
        <div class="control">
            <label for="title">Tytuł</label>
            <input type="text" name="title" id="title" required>
        </div>

        
        <div class="control">
            <label for="band">Wykonawca</label>
            <input type="text" name="band" id="band" required>
        </div>

        <div class="control">
            <label for="publicationYear">Rok wydania</label>
            <input type="number" name="publicationYear" id="publicationYear" required>
        </div>

        <div class="control">
            <label for="country">Kraj wykonawcy</label>
            <input type="text" name="country" id="country" required>
        </div>

        <input type="reset">
        <input type="submit" value="Dodaj">

    </form>
</div>    



</body>
</html>
